<%= form_with(model: [@post, @comment], id: "new_comment") do |f| %>
<div class="form-group row">
	<%= f.label :comment, 'コメント' %>
	<%= f.text_area :comment, class: "form-control", rows: 5 %>
</div>
<!-- 評価 -->
<div class="form-group row" id="star">
	<%= f.label :rate,'評価 ', class: 'col-md-3 col-form-label' %>
	<%= f.hidden_field :rate, id: :review_star %>
</div>

<!-- 評価javascript -->
<script>
	$('#star').raty({
	size     : 36,
	starOff:  '<%= asset_path('star-off.png') %>',
	starOn : '<%= asset_path('star-on.png') %>',
	starHalf: '<%= asset_path('star-half.png') %>',
	scoreName: 'comment[rate]',
	half: true,
	});
</script>

<%= f.submit "コメントする" %>


<% end %>