<h4>どちらですか？</h4>

  <div class="field">
    <%= f.radio_button :user_status, :true %>
    <%= f.label :user_status_true, "一般" %>
    <%= f.radio_button :user_status, :false %>
    <%= f.label :user_status_false, "法人" %>
  </div>

  <%= link_to "新規登録", new_user_registration_path, data: {"turbolinks" => false} %>