<div class="container">
<h2>新規会員登録２</h2>

<%= form_for(@user) do |f| %>

<% if @user.user_status == true %>

  <div class="field">
    <%= f.label :（性） %><br />
    <%= f.text_field :family_name, autofocus: true, class: "name" %><br>
    <%= f.label :（名） %><br />
    <%= f.text_field :first_name, autofocus: true, class: "name" %>
  </div>

  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age, autofocus: true, autocomplete: "age" %>
  </div>

<% elsif @user.user_status == false %>

<div class="field">
<%= f.label :企業名・団体名 %>
 <%= f.text_field :company_name, placeholder:"company_name" %>
  </div>

<div class="field">
<%= f.label :郵便番号 %>
 <%= f.text_field :postal_code, placeholder:"postal_code" %>
  </div>

 <div class="field">
<%= f.label :住所 %>
 <%= f.text_field :address, placeholder:"address" %>
  </div>

 <div class="field">
<%= f.label :電話番号 %>
 <%= f.text_field :phone_number, placeholder:"phone_number" %>
  </div>

 <div class="field">
<%= f.label :ホームページURL %>
 <%= f.text_field :hp_url, placeholder:"hp_url" %>
  </div>

 <div class="field">
<%= f.label :アイコン画像 %>
 <%= f.attachment_field :icon_image %>
  </div>

 <div class="field">
<%= f.label :自己紹介文 %>
 <%= f.text_area :introduction %><br>
  </div>

<% end %>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>

<% end %>
</div>