<div class="container">
	<div class="row">
		<div class="col-sm-3"></div>
			<div class="col-xs-12 col-sm-5">
<div style="text-align:center;">
<h2>検索結果</h2>
<% @searched_posts.each do |post| %>
<div style="margin-top: 15px; border-bottom: 1px solid black; padding-bottom: 15px;">
	<%= link_to post_path(post.id) do %>
        <%= post.title %><br>
	<% end %>
	<% if post.post_images.present? %>
		<% post.post_images.each do |image| %>
		    <%= attachment_image_tag image, :image, :fill, 200, 200 %>
    	<% end %>
	<% else %>
		<%= image_tag 'profile1.jpg', size: '200x200' %>
	<% end %><br>
	<%= post.liked_users.count %>いいね
</div>
<% end %>
</div>
		<div class="col-xs-3">
		</div>
</div>

</div>