<div class="container">
  <div class="row">
    <div class="col-xs-4" style="background-color: #eeeeee;">
      <h2>投稿情報編集</h2>
    </div>
  </div>



<%= form_for(@post, url: post_path) do |f| %>



<div class="row">
  <div class="form-group">
    <p class="col-xs-2">タイトル</p>
    <%= f.text_field :title %>
  </div>
</div>

<div class="row">
  <div class="form-group">
   <p class="col-xs-2">本文</p>
   <%= f.text_field :post_text %>
 </div>
</div>

<div class="row">
  <div class="form-group">
    <p class="col-xs-2">投稿画像</p>
    <%= f.attachment_field :post_images_images, multiple: true %>
  </div>
</div>

<div class="row">
  <div class="form-group">
    <p class="col-xs-2">地域名（タグ）</p>
    <%= f.text_field :tag_list, value: @post.tag_list.join(','), class: "form-control" %>
  </div>
</div>

<div class="row">
 <div class="form-group col-xs-2">
  <div style="margin-bottom: 60px;">
   <%= f.submit '変更を保存する', class: "btn btn-primary" %>
  </div>
 </div>
</div>

<% end %>

</div>