<div class="container">
	<div class="row">
		<div class="col-xs-3">
		</div>
		<div class="col-xs-6">

			<% @posts.each do |post| %>
			<div style="text-align:center;">
				<%= link_to post_path(post.id) do %>
			        <%= post.title %><br>
				<% end %>
				<% if post.post_images.present? %>
					<% post.post_images.each do |image| %>
					    <%= attachment_image_tag image, :image, :fill, 200, 200 %><br>
			    	<% end %>
				<% else %>
					<%= image_tag 'profile1.jpg', size: '200x200' %>
				<% end %><br>
				(<%= post.liked_users.count %>)いいね
			</div>
			<% end %>


		</div>
		<div class="col-xs-3">
		</div>
	</div>
</div>