<div class="container">
	<div class="row">
		<div class="col-lg-3"></div>
		<!-- エラー文表示 -->
		<%= render "users/shared/error_messages", resource: @post %>
		<div class="col-lg-6">
			<h1>新規投稿</h1>
			    <%#= form_with model: @post do |f| %>
				<%= form_with model: @post, local:true do |f| %>

			    <h4>タイトル</h4>
			    <%= f.text_field :title %>

			    <h4>本文</h4>
			    <%= f.text_area :post_text %>

			    <h4>都道府県、地域名等</h4>
				    <%= f.text_field :tag_list, value: @post.tag_list.join(','), class: "form-control", autocomplete: ",で区切ってもらうと複数入力する事ができます" %>

                <!-- enumバージョン(使用しない) -->
			    <%#= f.fields_for :local do |i| %>
				    <%#= i.select :area_name, Local.area_names.keys, {prompt: '選択してください'}, class: 'form-control btn btn-info' %>
                <%# end %>

				<h4>画像</h4>
				<%= f.attachment_field :post_images_images, multiple: true %>

			    <%= f.submit '投稿', :style=>"margin-top:10px;" %>

			<% end %>
		</div>
		<div class="col-lg-3"></div>
	</div>
</div>