
<div class="container">
	<div class="row">
		<div class="col-xs-4">
		</div>
		<div class="col-xs-6">

			<h2>投稿詳細</h2>

            <h4>タイトル</h4>
			<%= @post.title %>

			<h4>本文</h4>
			<%= @post.post_text %><br>

			<!-- タグ機能 -->
			<h4>タグ</h4>
			<%= render 'posts/tag_list', tag_list: @post.tag_list %><br>

			<!-- 画像表示 -->
			<% if @post.post_images.present? %>
				<% @post.post_images.each do |image| %>
				    <%= attachment_image_tag image, :image, :fill, 200, 200 %><br>
		    	<% end %>
			<% else %>
				<%= image_tag 'profile1.jpg', size: '200x200' %>
			<% end %>

			<!-- いいね機能 -->
			いいね件数: <%= @post.likes.count %>
			<% if current_user.already_liked?(@post) %>
			  <%= button_to 'いいねを取り消す', post_like_path(@post), method: :delete %>
			<% else %>
			  <%= button_to 'いいね', post_likes_path(@post) %>
			<% end %>
			<h2>いいねしたユーザー</h2>
			<% @post.liked_users.each do |user| %>
			  <%= user.family_name %><%= user.first_name %>
			<% end %>

			<!-- コメント機能 -->
			<div class="comment-wrapper border-top　mb-10">
			  <p class="mt-5">コメント一覧</p>
			  <% @comments.each do |c| %>
			    <div>
			      <% unless c.user.blank? %>
			        <a href="<%= user_path(c.user_id) %>"><%= image_tag c.user.icon_image.to_s,
			          class:"rounded-circle icon_image mr-3 mb-3"%></a>
			        <% end %>
			      <%= c.user.first_name unless c.user.blank? %>
			      <br>
			      <%= c.comment %>
			    </div>
			    <br>
			  <% end %>
			  <% if user_signed_in? %>
			    <%= form_with(model: [@post, @comment], local: true) do |f| %>
			      <%= f.text_area :comment, class: "form-control", rows: 5 %>
			      <%= button_tag type: "submit", class: "btn btn-success float-right mt-1" do %>
			        <i class="far fa-comments"></i> コメントする
			      <% end %>
			    <% end %>
			  <% end %>
			</div>

			<%# if current_user.id == @posts.user_id %>
				<%= link_to "編集", edit_post_path(@post.id) %>
				<%= link_to "削除", post_path(@post.id), method: :delete %>
			<%# end %>

		</div>
		<div class="col-xs-3">
		</div>
	</div>
</div>