
<div class="container">
	<div class="row">
		<div class="col-xs-4">
		</div>
		<div class="col-xs-6">

			<h2>投稿詳細</h2>

            <h4>タイトル</h4>
			<%= @post.title %>

			<h4>本文</h4>
			<%= @post.post_text %><br>

			<!-- タグ機能 -->
			<h4>タグ</h4>
			<%= render 'posts/tag_list', tag_list: @post.tag_list %><br>

			<!-- 画像表示 -->
			<% if @post.post_images.present? %>
				<% @post.post_images.each do |image| %>
				    <%= attachment_image_tag image, :image, :fill, 200, 200 %><br>
		    	<% end %>
			<% else %>
				<%= image_tag 'profile1.jpg', size: '200x200' %>
			<% end %>

			<!-- いいね機能 -->
<% if user_signed_in? %>
			<div id="likes_buttons">
             <%= render 'likes/like', post: @post %>
            </div>
<% end %>
			<!-- コメント機能 -->
			<div class="comment-wrapper border-top　mb-10">
			  <p class="mt-5">コメント一覧</p>
			  <% @comments.each do |comment| %>
			    <div>
			        <% unless comment.user.blank? %>
						<%= link_to user_path(comment.user_id) do %>
						<%= attachment_image_tag comment.user, :icon_image, :fill, 100, 100, class:"rounded-circle icon_image mr-3 mb-3", fallback: "profile1.jpg", size: "100x100" %>
						<% end %>
			        <% end %>
			        <%= comment.user.family_name unless comment.user.blank? %>
			        <%= comment.comment %>
			                <!--星評価-->
		            <div id="star-rate-<%= comment.id %>"></div>
		                <script>
		                   $('#star-rate-<%= comment.id %>').raty({
				            size: 36,
				            starOff:  '<%= asset_path('star-off.png') %>',
				            starOn : '<%= asset_path('star-on.png') %>',
				            starHalf: '<%= asset_path('star-half.png') %>',
				            half: true,
				            readOnly: true,
				            score: <%= comment.rate %>,
				           });
		                </script>
			    </div>
			    <br>
			  <% end %>

			  <% if user_signed_in? %>
			    <%= form_with(model: [@post, @comment], local: true) do |f| %>
			      <div class="form-group row">
			      	<%= f.label :comment, 'コメント' %>
			        <%= f.text_area :comment, class: "form-control", rows: 5 %>
				  </div>
			        <!-- 評価 -->
				  <div class="form-group row" id="star">
				    <%= f.label :rate,'評価 ', class:'col-md-3 col-form-label' %>
				    <%= f.hidden_field :rate, id: :review_star %>
				  </div>

				  <!-- 評価javascript -->
				  <script>
				  $('#star').raty({
				    size     : 36,
				    starOff:  '<%= asset_path('star-off.png') %>',
				    starOn : '<%= asset_path('star-on.png') %>',
				    starHalf: '<%= asset_path('star-half.png') %>',
				    scoreName: 'comment[rate]',
				    half: true,
				  });
				  </script>

			      <%= button_tag type: "submit", class: "btn btn-success float-right mt-1" do %>
			        <i class="far fa-comments"></i> コメントする
			      <% end %>
			    <% end %>
			  <% end %>
			</div>

			<% if current_user.id == @user_id %>
				<%= link_to "編集", edit_post_path(@post.id) %>
				<%= link_to "削除", post_path(@post.id), method: :delete %>
			<% end %>

		</div>
		<div class="col-xs-3">
		</div>
	</div>
</div>